<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Oldphoto_1980</string>
	<string>Oldphoto_1960</string>
	<string>Oldphoto_1940</string>
	<string>Oldphoto_unknown</string>
	<string>Oldphoto_all</string>
</array>
</plist>
